@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --roble: #A67B5B;
    --bosque: #2D5A27;
    --crema: #FFFBF0;
    --cafe-oscuro: #4E342E;
    --blanco: #ffffff;
}

body{
    font-family: "Roboto Slab", serif;
}

header{
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
